<br>
<form [formGroup]="filterGroup">
  <mat-list-item>
    <mat-form-field appearance="fill">
      <mat-label>Camera</mat-label>
      <mat-select formControlName="cameras">
        <mat-option *ngFor="let camera of cameras" [value]="camera">{{camera}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-list-item>
  <mat-list-item>
    <mat-form-field appearance="fill">
      <mat-label>Tasks</mat-label>
      <mat-select formControlName="tasks">
        <mat-option *ngFor="let task of tasks" [value]="task">{{task}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-list-item>
  <mat-list-item>
  <div class="text-center">
    <button mat-button type="submit" [disabled]="!filterGroup.valid" (click)="onSubmit()">Start</button>
    <button mat-button [disabled]="!filterGroup.valid" (click)="stopJob()">Stop</button>
    </div>
  </mat-list-item>
</form>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="camera">
    <th mat-header-cell *matHeaderCellDef> Camera </th>
    <td mat-cell *matCellDef="let element"> {{element.camera}} </td>
  </ng-container>

  <ng-container matColumnDef="running">
    <th mat-header-cell *matHeaderCellDef> Running </th>
    <td mat-cell *matCellDef="let element"> <button mat-button (click)="console.log(element.task)"> {{element.running}}</button> </td>
  </ng-container>

  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef> Start </th>
    <td mat-cell *matCellDef="let element"> <button mat-button (click)="console.log(element.task)"> {{element.start}}</button> </td>
  </ng-container>

  <ng-container matColumnDef="end">
    <th mat-header-cell *matHeaderCellDef> End </th>
    <td mat-cell *matCellDef="let element">
      <button *ngIf="element.end; else elseBlock" mat-button > {{element.end}}</button> 
      <ng-template #elseBlock><button (click)="stopJob(element.camera, element.task)" mat-button >Stop</button> 
      </ng-template>
    </td>
    
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
