<div fxLayout="row wrap" fxLayoutAlign="center">
  <p class="mat-title">{{ cameraName }}</p>
</div>
<div 
  fxLayout="row wrap" fxLayoutAlign="center">
  <img *ngIf="singleImage" [src]="singleImage.img | imageDecode" width="{{ singleImage.width }}" height="{{ singleImage.height }}">

  <p *ngIf="!singleImage">Loading image</p>

  <mat-list fxFlex="0 1 calc(33.3% - 32px)">
    <form class="example-form" [formGroup]="formGroup" ngNativeValidate>
      <mat-form-field appearance="fill">
        <mat-label>Frames per second</mat-label>
        <select matNativeControl formControlName="framesPerSecond" (change)="changeFps($event.target.value)" required>
          <option value="1">1</option>
          <option value="0.5">0.5</option>
          <option value="0.1">0.1</option>
          <option value="3">3</option>
        </select>
      </mat-form-field>

      <br>
      <mat-slide-toggle formControlName="tracking">Tracking</mat-slide-toggle>
      <mat-slide-toggle formControlName="detection">Detection</mat-slide-toggle>
    </form>
  </mat-list>
</div>
