<div fxLayout="row wrap" fxLayoutAlign="center">
  <p class="mat-title">{{ cameraName }}</p>
</div>
<div 
  fxLayout="row wrap" fxLayoutAlign="center">
  <img *ngIf="singleImage" [src]="singleImage.img | imageDecode" width="{{ singleImage.width }}" height="{{ singleImage.height }}">

  <p *ngIf="!singleImage">Loading image</p>

  <mat-list fxFlex="0 1 calc(33.3% - 32px)">
    <form class="example-form" [formGroup]="formGroup" ngNativeValidate>
      <mat-form-field appearance="fill">
        <mat-label>Frames per second</mat-label>
        <input matInput type="number" placeholder="Ex. 4" formControlName="framesPerSecond" min="0">
        <mat-error *ngIf="formGroup.value.framesPerSecond.invalid">Min size: 10px</mat-error>
      </mat-form-field>
      <br>
      <mat-slide-toggle formControlName="tracking">Tracking</mat-slide-toggle>
      <mat-slide-toggle formControlName="detection">Detection</mat-slide-toggle>
    </form>
  </mat-list>
</div>
