<mat-nav-list>
  <mat-list-item>
    <button mat-button>
      <mat-slide-toggle (click)="toggleCam()">Cam</mat-slide-toggle>
    </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button>
      <mat-slide-toggle (click)="showPlots=!showPlots">Stats</mat-slide-toggle>
    </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button>
      <mat-slide-toggle (click)="toggleWorkersInfo()">Workers</mat-slide-toggle>
    </button>
  </mat-list-item>
  <mat-list-item>
    <button (click)="launchTask()" mat-button>Object tracking
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <br>

    <form [formGroup]="filterGroup" (ngSubmit)="onFormSubmit()">
  <mat-list-item>
      <mat-form-field appearance="fill">
        <mat-label>Years</mat-label>
        <mat-select formControlName="years" (selectionChange)="onFilterChange()" multiple>
          <mat-option *ngFor="let year of years" [value]="year">{{year.value}} ({{year.total}})</mat-option>
        </mat-select>
      </mat-form-field>
  </mat-list-item>
  <mat-list-item>
      <mat-form-field appearance="fill">
        <mat-label>Months</mat-label>
        <mat-select formControlName="months" (selectionChange)="onFilterChange()" multiple>
          <mat-option *ngFor="let month of months" [value]="month">{{month.value}} ({{month.total}})</mat-option>
        </mat-select>
      </mat-form-field>
  </mat-list-item>
  <mat-list-item>
      <mat-form-field appearance="fill">
        <mat-label>Day</mat-label>
        <mat-select formControlName="days" (selectionChange)="onFilterChange()" multiple>
          <mat-option *ngFor="let day of days" [value]="day">{{day.value}} ({{day.total}})</mat-option>
        </mat-select>
      </mat-form-field>
  </mat-list-item>
  <mat-list-item>

      <mat-form-field appearance="fill">
        <mat-label>Hours</mat-label>
        <mat-select formControlName="hours" (selectionChange)="onFilterChange()" multiple>
          <mat-option *ngFor="let hour of hours" [value]="hour">{{hour.value}} ({{hour.total}})</mat-option>
        </mat-select>
      </mat-form-field>
  </mat-list-item>

    </form>

  <mat-list-item>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose date"
                                               (dateInput)="addEvent('input', $event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-list-item>
</mat-nav-list>
