<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Object detection</h1>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <button mat-button>
      <mat-slide-toggle (click)="toggleWorkersInfo()">Workers</mat-slide-toggle>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button>
      <mat-slide-toggle (click)="toggleCam()">Cam</mat-slide-toggle>
    </button>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <button mat-button>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose date"
                                                 (dateInput)="addEvent('input', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="(singleImage) && (showCam)">
  <mat-grid-list cols="3" rowHeight="{{ singleImage.height }}">
    <mat-grid-tile [colspan]="2">
      <img [src]="singleImage.img | imageDecode" width="{{ singleImage.width }}" height="{{ singleImage.height }}">
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list>
        <mat-list-item> Frames per second </mat-list-item>
        <mat-list-item> <input matInput cdkTextareaAutosize type="number" placeholder="Frame per seconds" [value]="fps" (input)="fps = $event.target.value"> </mat-list-item>
        <mat-list-item>
          <mat-slide-toggle [checked]="detection" (input)="detection = $event.target.checked">Detection</mat-slide-toggle>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div *ngIf="showWorkersInfo">

  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="tableWorkers">
        <ng-container matColumnDef="workerValue">
          <th mat-header-cell *matHeaderCellDef>Worker </th>
          <td mat-cell *matCellDef="let element"> {{element.workerValue}} </td>
        </ng-container>

        <ng-container matColumnDef="taskName">
          <th mat-header-cell *matHeaderCellDef> Task name </th>
          <td mat-cell *matCellDef="let element"> {{element.taskName}} </td>
        </ng-container>

        <ng-container matColumnDef="schedule">
          <th mat-header-cell *matHeaderCellDef>Schedule</th>
          <td mat-cell *matCellDef="let element"> {{element.schedule}} </td>
        </ng-container>

        <ng-container matColumnDef="totalTasks">
          <th mat-header-cell *matHeaderCellDef>Total tasks</th>
          <td mat-cell *matCellDef="let element"> {{element.total}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <table mat-table [dataSource]="tableTasks" #tableTasksRef>
        <ng-container matColumnDef="uuid">
          <th mat-header-cell *matHeaderCellDef>ID </th>
          <td mat-cell *matCellDef="let element"> {{element.uuid}} </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>State</th>
          <td mat-cell *matCellDef="let element"> {{element.state}} </td>
        </ng-container>

        <ng-container matColumnDef="runtime">
          <th mat-header-cell *matHeaderCellDef>Runtime [seconds]</th>
          <td mat-cell *matCellDef="let element"> {{element.runtime | number:'1.0-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="started">
          <th mat-header-cell *matHeaderCellDef>Started</th>
          <td mat-cell *matCellDef="let element"> {{element.started * 1000 | date:'EE d/LLL/y H:m:s'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTasks"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTasks;"></tr>
    </table>
  </div>

</div>

<app-plots [(params)]="params" (paramsChange)="onPlotClick($event)"></app-plots>
<app-photos [(images)]="images" [(params)]="params" ></app-photos>
